
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    background-color: darkgray;

}

.container {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 30px 0;
    box-shadow: 0 0 20px 10px black;
}

#historyDisplay {
    margin-top: 20px;
    text-align: left;
    padding-right: 10px;
}
#historyDisplay ul {
    padding-left: 20px; 
}

#historyDisplay li {
    margin-bottom: 10px; 
    line-height: 1.5; 
}



h1 {
    color: #333;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
    box-shadow: 0 0 10px 0.5px silver;
}

button:active {
    transform: scale(0.95);
}

